@import '../../../styles/colors';
h2{
    font-size: 2vh;           
    color: $fontlightgray; 
}
@mixin perfectCenter($direction){
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: $direction;
}

.contact{
    position: relative;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 82vh;
    width: 100%;
    background-color: $backblue;
    h2{
        font-size: 2vh;           
        color: $fontlightgray; 
        margin-top: 2vh;
        //margin-bottom: 2vh;
    }
    img{
        filter: grayscale(25%);
        height: 5vh;
        width: 5vh;
        margin-bottom: 3vh;
    }
    img:hover{
        filter: grayscale(0%);
        cursor: pointer;
    }
    p{
        color:$fontbluegray;
    }
    .m-para{
        color:$fontlightgray;
    }
}
.e-form{
    width: 60%;
    height: 28vh;
    form{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        height: 8vh;
    }
    input{
        font-family: inherit;
        width: 80%;
        margin-right:2vh;
        border: 0;
        border-bottom: 2px solid $fontbluegray;
        outline: 0;
        font-size: 1.3rem;
        color: $fontlightgray;
        padding: 7px 0;
        background: transparent;
    } 
    input:hover{
        border-bottom: 2px solid $fontlightblue;
    }  
    button{       
        cursor: pointer;
        appearance: none;
        outline: 0;
        background-color: $backblue;
        border: 1px solid $fontlightblue;
       color: $fontlightblue;
        border-radius: 3px;
        width: 15%;
        height: 3vh;
        font-size: 0.7vw;
    }
    button:hover{
        background-color: $hoverBtn;
        color:$fontlightgray;
        border: 1px solid $fontlightgray;
    }
}
.s-links{
    height: 28vh;
    width: 60%;
}
.t-para{
    margin-top: 0.5vh;
    font-size: 1.6vh;
}
.m-para{
    font-size: 2.5vh;
    margin-top: 3.5vh;
    margin-bottom: 3.5vh;
}
.s-para{
    font-size: 1.6vh;
    margin-bottom: 1.6vh;
}
span{
    color:$fontlightblue;
} 
.c-info{
    @include perfectCenter(column);
    margin-bottom: 6vh;
    height: 70vh;
    width: 43%;   
}
@media only screen and (max-width: 1100px) { 
    .contact{
        height: 82vh;
        h2{
            font-size: 2vh;           
            color: $fontlightgray; 
            margin-top: 2vh;
            //margin-bottom: 2vh;
        }
    }
    .c-info{
        @include perfectCenter(column);
        margin-bottom: 6vh;
        height: 70vh;
        width: 90%;   
    }
    .e-form{
        width: 90%;         
        button{       
            font-size: 1.3vh;
        }
    }
    .s-links{
        width: 90%;
    }
}