@import '../../../styles/colors';

@mixin perfectCenter($direction){
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: $direction;
}
.logo{
    img{
        cursor: pointer;
        z-index: 4;
        position: fixed;
        margin-top: 0.3vh;
        margin-left: 6vh;
        height: 5.4vh;
        width: 5.4vh;
    }
}
.social-links{
    z-index: 2;
    color:$fontlightgray;
    margin-top: 88vh;
    position: fixed;
    transform: rotate(270deg);
    img{
        filter: grayscale(0%);
        margin-left: 1vh;
        transform: rotate(90deg);
        height: 2.5vh;
        width: 2.5vh;
    }
    
    ul{
        display: flex;
        li{
            margin-left: 0.5vh;
            cursor: pointer;
            list-style: none;
            font-size: 1.5vh;
            
        }
        li:hover{
            color:white;
            
        }
    }
    ul:hover{
        img{
            filter: grayscale(0%);
        }
    }
}
#anchor{
    color:$fontlightgray;
    text-decoration: none;
}

header{  
    height: 100vh;
    background-image: url('../../../images/home.jpg');   
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;  
}

.home{
    @include perfectCenter(column);
    background: rgba(10, 25, 47, 0.733);
    height: 100vh;
    width: 100%;   
}
.banner-text{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;   
    margin-top: 10vh;
    width: 50%;
    height: 70vh;
    position: absolute;
    z-index: 2;
    p{
        margin-top: 25vh;
        color:$fontlightblue;
        font-size: 1.8vh;
    }
    h1{
        color:$fontlightgray;
        font-size: 6.3vh;
    }
    h3{
        font-size: 4.5vh;
        color:$fontbluegray;
    }
    h4{
        margin-top: 2vh;
        font-size: 1.4vh;
        color:$fontbluegray;
    }
    p,h1,h3,h4{
        width: 70%;
        margin-left: 15%;
    }
    button{
        display: flex;
        justify-content: center;
        align-self: flex-start;
        margin-left: 7.5vw;
        margin-top: 5vh;
        height: 4vh;
        width: 5vw;
        cursor: pointer;
        appearance: none;
        outline: 0;
        background-color: $backblue;
        border: 1px solid $fontlightblue;
        padding: 10px 15px;
        color: $fontlightblue;
        border-radius: 3px;       
        font-size: 1.5vh;
    }
    button:hover{
        background-color: $hoverBtn;
        color:$fontlightgray;
        border: 1px solid $fontlightgray;
    }
}
@media only screen and (max-width: 1100px) { 
    .logo{
        display: none;
    }
    .social-links{
       display: none;
    }   
    header{  
        height: 94vh;
        background-image: url('../../../images/home.jpg');   
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;  
    }
    .banner-text{
        margin-top: 8vh;
        width: 90%;
        height: 70vh;
        position: absolute;
        z-index: 2;
        p{
            margin-top: 20vh;
            color:$fontlightblue;
            font-size: 1.8vh;
        }
        h1{
            color:$fontlightgray;
            font-size: 5.5vh;
        }
        h3{
            font-size: 3.5vh;
            color:$fontbluegray;
        }
        h4{
            margin-top: 2vh;
            font-size: 1.4vh;
            color:$fontbluegray;
        }
        p,h1,h3,h4{
            width: 70%;
            margin-left: 15%;
        }
        button{
            display: none;           
        }
    }    
}
