$primaryBtn : rgb(35, 147, 221);
$fontwhite : white;
$fontlightgray:rgb(204, 214, 246);
$fontbluegray:rgb(136, 146, 176);
//$fontlightblue:rgb(100, 255, 218);
$fontlightblue:rgb(100, 245, 255);
$hoverBtn:rgb(21, 217, 231);
$backblue: rgb(10, 25, 47);
$darkblue:rgb(7, 18, 37);
$ligherblue:rgb(16, 36, 70);
$navblue:rgb(7, 18, 37);