@import '../../../styles/colors';

@mixin perfectCenter($direction){
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: $direction;
}

.footer{
    @include perfectCenter(column);
    height: 10vh;
    width: 100%;
    background-color: $darkblue;
    margin: 0;
    position: relative;
    z-index: 2;
    h2{
        justify-content: flex-start;
        font-size: 1.5vh;           
        color: $fontlightgray; 
    }
    span{
        color:$fontlightblue;
    } 
}

