@import '../../../styles/colors';

@mixin perfectCenter($direction){
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: $direction;
}

.about-me{
    @include perfectCenter(column);
    background-color: $backblue;
    height: 90vh;
    width: 100%;
    .wrapper{
        @include perfectCenter(row);
        height: 80%;
    }
    h2{
        font-size: 2vh;           
        color: $fontlightgray; 
        margin-bottom: 4vh;
    }
    p{
        @include perfectCenter(column);
        margin-bottom: 2vh;
        font-size: 1.6vh;
        color:$fontbluegray;
        width: 100%;    
    }
    span{
        color:$fontlightblue;
    }
    .info{
        height: 65vh;
        width: 25%;
            
        .strong-skills{
            @include perfectCenter(row);
            ul{
                list-style: none;
                margin-top: 2vh;
                margin-right: 2vh;
                li{
                    color:$fontbluegray;
                    font-size: 1.5vh;
                    padding-left: 2vh;
                }
                span{
                    margin-right: 1vh;
                }
            }
        }
    }
    img{
        filter: grayscale(100%);
        margin-left: 8vh;
        margin-bottom: 15vh;
        align-self: center;
        height: 22vh;
        width: 22vh;
        border:3px solid $darkblue;
        border-radius:12vh;
    }     
    img:hover{
        filter: grayscale(0%);
    } 
}