@import '../../../styles/colors';

@mixin perfectCenter($direction){
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: $direction;
}

.projects{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 180vh;
    background-color: $backblue;
}

span{
    color:$fontlightblue;
} 
h2{
    margin-bottom: 8vh;
    margin-top: 4vh;
}

.info{
    height: 80%;
    width: 90%;  
}
.project{
    margin-top: 2vh;
    margin-bottom: 6vh;
    border: 3px solid $darkblue;
    display: flex;
    height: 36vh;
    width: 100%;
    img{
        filter: grayscale(100%);
        height: 100%;
        width: 65%;
    }
    img:hover{
        filter: grayscale(0%);
    } 
    .wrapper{
        display: flex;
        flex-direction: column;
        width: 34%;
    }
    .project-content{
        position: relative;
        z-index: 0;
        flex-direction: column;
        width: 42vh;
        height: 12vh;
        right: 5vw;
        //top:2vh;
        background-color: $ligherblue;
    }
    
    .project-bottom{
        width: 100%;
        height: 13vh;
    }
    ul{
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    li{
        margin: 1vh;
        font-size: 1.5vh;
        list-style: none;
        color:$fontbluegray;
        cursor: pointer;
    }
    li:hover{
        color:$fontlightblue;
    }
    p{
        font-size: 1.15vh;
        margin: auto;
        margin-top: 1vh;
        display: flex;
        color:$fontlightgray;
        width: 90%;
        
    }
    h2{
        justify-content: flex-start;
        font-size: 2vh;           
        color: $fontlightgray; 
        width: 90%;
        margin: auto;
    }
    h3{
        font-size: 1.2vh;
        margin-left: 1vh;
        margin-right: 1.2vh;
        margin-top: 1.4vh;
        margin-bottom: 1vh;
        display: flex;
        color:$fontlightgray;
        width: 80%;
    }
    button{
        margin-top: 1vh;
        margin-right: 6vw;
        margin-left: 2vw;
        cursor: pointer;
        appearance: none;
        outline: 0;
        background-color: $backblue;
        border: 1px solid $fontlightblue;
        padding: 10px 15px;
        color: $fontlightblue;
        border-radius: 3px;
        width: 4.5vw;
        font-size: 0.7vw;
    }
    button:hover{
        background-color: $hoverBtn;
        color:$backblue;
        border: 1px solid $fontlightgray;
    }
}